<section class="about-us py-5 " id="about-us">
    <div class="container mt-5">
	<div class="row">
		<div class="col-md-6">
		    <h1 class='text-success'>Welcome!</h1>
		    <h2>About Us</h2>
		    <hr>
			<p>Introducing our new web application designed to make healthy eating easy and convenient. With GreenUP, you can easily search for nutrition facts on a variety of 
				greens and other healthy foods. Plus, our user-friendly platform allows you to create an account, save your favorite items to a cart, and even save your sessions 
				for added convenience. Whether ySou're looking to improve your overall health or simply want to make smarter food choices, our web application has everything you need 
				to get started on your journey to better health.</p>
		    <p>GreenUP is your go to, one stop shop for all of your health food needs.</p>
		    <p>Our mission is to make it fast, easy, and affordable for you to find fresh, delicious, and most importantly healthy food options to enjoy.</p>

		<p>"Let food be thy medicine and medicine be thy food." - Hippocrates</p>
		</div>
		
		<div class="col-md-6">
		    <img src="https://res.cloudinary.com/dxnwbl21t/image/upload/v1679970882/shopping_zl3axl.jpg "alt="woman grocery shopping">
		</div>
	</div>
</div>
</section>
<script src="/js/login.js"></script>