 
 <main class="bg-slate-400 h-screen grid grid-rows-3 grid-cols-4 ">
    <div class="bg-slate-800 col-span-2 text-center text-4xl md:text-5xl lg:text-6xl">
      <h1 class="ml-8 mr-8"> Welcome <br><span class="text-3xl hover:text-rose-900 underline hover:text-4xl">"user name goes here"</span> , <br> to GreenUp</h1>
     
    </div>
     <img class="col-span-2 h-fit w-full h-full" src="../img/allVeggies.jpg" alt="allVeggies">
     <div class="bg-black text-center">
      <h1 class="text-rose-900 text-4xl underline">What is GreenUp? </h1>
      <p class="text-white text-l">
        orem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus laoreet libero ac tempor sodales. In hac habitasse platea dictumst. Morbi elementum metus sit amet massa sollicitudin accumsan. Sed non dui nibh. Fusce viverra arcu faucibus pretium imperdiet. Suspendisse tincidunt metus sit amet metus tincidunt ullamcorper.
      </p>
     </div>
     <img class=" h-fit w-full h-full" src="../img/deliveryGreens.jpeg" alt="allVeggies">
     <div class="bg-rose-900 ">
      <h1 class="text-2xl text-center underline">
        How Can GreenUp help with your Diet?
      </h1><p class="text-white text-l">
        Fusce ullamcorper ante in blandit mollis. Nunc vitae imperdiet felis. Mauris porta nibh eros, ut eleifend lectus pulvinar ut. Vivamus eleifend pharetra quam, id consectetur ante rutrum vel.
      </p></div>
     <img class=" h-fit w-full h-full" src="../img/dietGreen.webp" alt="allVeggies">

     <!-- Creating the sign in or create account -->
     <div class="bg-slate-700 col-span-2 border-r-4  border-y-4 border-lime-600">
      <div class="bg-rose-900 text-2xl text-center bold">
        <h1>Login Here</h1>
      </div>
      <form class="" id="login-form">
      <div class="ml-4 mt-4">
        <label for="email-login" class="text-sky-500 text-4xl">email:</label> 
        <input class="bg-slate-800 w-1/2 h-8 focus:bg-white rounded-xl" type="text" id="email-login" />
      </div>
      <div class="ml-4 mt-4">
        <label for="password-login" class="text-sky-500 text-4xl">password:</label>
        <input class="bg-slate-800 w-1/2 h-8 focus:bg-white rounded-xl" type="password" id="password-login" />
      </div>
        <button class="bg-rose-900 focus:bg-lime-900 rounded-xl w-4/12 mt-4 text-2xl ml-4" type="submit" id="loginbutton">login</button>
      
    </form>
     </div>
     <!-- Sign up selection Here -->
     <div class="bg-slate-700 col-span-2 border-y-4 border-lime-600">
      <div class="bg-rose-900 text-2xl text-center bold">
        <h1>Create your account Here</h1>
      </div>
      <form class="" id="creating-form">
      <div class="ml-4 mt-4">
        <label for="email-login" class="text-sky-500 text-2xl">email:</label> 
        <input class="bg-slate-800 w-1/2 h-8 focus:bg-white rounded-xl" type="text" id="email-creation" /><br>
        <label for="email-login" class="text-sky-500 text-2xl">Re-type email:</label> 
        <input class="bg-slate-800 w-1/2 h-8 focus:bg-white rounded-xl" type="text" id="email-check" />
      </div>
      <div class="ml-4 mt-4">
        <label for="password-login" class="text-sky-500 text-2xl">password:</label>
        <input class="bg-slate-800 w-1/2 h-8 focus:bg-white rounded-xl" type="password" id="password-creation" /><br>
        <label for="password-login" class="text-sky-500 text-2xl">Re-type password:</label>
        <input class="bg-slate-800 w-1/2 h-8 focus:bg-white rounded-xl" type="password" id="password-check" />
      </div>
        <button class="bg-rose-900 focus:bg-lime-900 rounded-xl w-4/12 mt-4 text-2xl ml-4" type="submit">login</button>
      
    </form>
     </div>
  </main>